.box-body{
    margin: 5%;
    padding: 5%;
    border-radius: 20px;
    border:1px solid lightgrey;
    box-shadow: 10px 10px 10px lightgrey;
    background-color: lavender;
}
.heading{
    font-family: 'Fredoka One', cursive;
    color: darkcyan;
}
.usernam{
    font-family: 'Russo One', sans-serif;
}
.current-profile{
    text-align: center;
}
.profile-pic{
    width: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px lightseagreen;
    box-shadow: 0 0 20px lightseagreen;
}
.user-bio{
    font-size: 18px;
}
.profile-pic:hover{
    transform: scale(1.05);
}
.btn-sub{
    text-align: center;
    margin-top: 10px;
}
/* body{
    background-color: lemonchiffon;
} */